<div class="container">
  <div class="row">
    <div
      class="col-xl-8 col-lg-8 col-md-8 col-sm-10 mx-auto form p-4 shadow p-3 mb-5 bg-white rounded"
    >
      <div class="px-2">
        <h1 class="display-6 py-2">{{ "form.title" | translate }}</h1>
        <form [formGroup]="foodForm">
          <div class="form-group row">
            <label for="feedTime" class="col col-form-label">{{
              "form.Feeding Time" | translate
            }}</label>
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-10 toggle-example">
              <input
                type="time"
                class="form-control"
                id="feedTime"
                [formControl]="foodForm.controls['feedTime']"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    foodForm.controls['feedTime'].invalid &&
                    (foodForm.controls['feedTime'].dirty ||
                      foodForm.controls['feedTime'].touched ||
                      showError)
                }"
              />
              <!-- <input [ngxTimepicker]="toggleTimepicker" [disableClick]="true">
                                          <ngx-material-timepicker-toggle [for]="toggleTimepicker"></ngx-material-timepicker-toggle>
                                          <ngx-material-timepicker #toggleTimepicker (timeSet)='eventFired($event)'></ngx-material-timepicker> -->
              <div
                *ngIf="
                  foodForm.controls['feedTime'].invalid &&
                  (foodForm.controls['feedTime'].dirty ||
                    foodForm.controls['feedTime'].touched ||
                    showError)
                "
              >
                <div *ngIf="foodForm.controls['feedTime'].errors.required">
                  <small id="feedTimeHelp" class="form-text text-muted">
                    {{ "error.Feed time is required" | translate }}
                  </small>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="typeahead-basic" class="col col-form-label">{{
              "form.Food" | translate
            }}</label>
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-10">
              <input
                id="food"
                [formControl]="foodForm.controls['foodName']"
                type="text"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    foodForm.controls['foodName'].invalid &&
                    (foodForm.controls['foodName'].dirty ||
                      foodForm.controls['foodName'].touched ||
                      showError)
                }"
                [ngbTypeahead]="foodTypeAhead"
              />
              <div
                *ngIf="
                  foodForm.controls['foodName'].invalid &&
                  (foodForm.controls['foodName'].dirty ||
                    foodForm.controls['foodName'].touched ||
                    showError)
                "
                class=""
              >
                <div *ngIf="foodForm.controls['foodName'].errors.required">
                  <small id="foodHelp" class="form-text text-muted">
                    {{ "error.Food is required" | translate }}.</small
                  >
                </div>
                <div *ngIf="foodForm.controls['foodName'].errors.pattern">
                  {{ "error.Food can contain alphabets only" | translate }}.
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="typeahead-basic" class="col col-form-label"
              >{{ "form.Food Type" | translate }}
            </label>
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-10">
              <input
                id="foodType"
                [formControl]="foodForm.controls['foodTypeName']"
                type="text"
                class="form-control"
                [ngbTypeahead]="foodTypeTypeAhead"
                [ngClass]="{
                  'is-invalid':
                    foodForm.controls['foodTypeName'].invalid &&
                    (foodForm.controls['foodTypeName'].dirty ||
                      foodForm.controls['foodTypeName'].touched ||
                      showError)
                }"
              />
              <div
                *ngIf="
                  foodForm.controls['foodTypeName'].invalid &&
                  (foodForm.controls['foodTypeName'].dirty ||
                    foodForm.controls['foodTypeName'].touched ||
                    showError)
                "
              >
                <div *ngIf="foodForm.controls['foodTypeName'].errors.required">
                  <small id="foodTypeHelp" class="form-text text-muted"
                    >{{ "error.Food type is required" | translate }}.</small
                  >
                </div>
                <div *ngIf="foodForm.controls['foodTypeName'].errors.pattern">
                  <small id="foodTypeHelp" class="form-text text-muted">{{
                    "error.Food can contain alphabets only" | translate
                  }}</small>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="typeahead-basic" class="col col-form-label">{{
              "form.Feeding Location" | translate
            }}</label>
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-10">
              <input
                id="location"
                [formControl]="foodForm.controls['locationName']"
                type="text"
                [ngbTypeahead]="locationTypeAhead"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    foodForm.controls['locationName'].invalid &&
                    (foodForm.controls['locationName'].dirty ||
                      foodForm.controls['locationName'].touched ||
                      showError)
                }"
              />
              <div
                *ngIf="
                  foodForm.controls['locationName'].invalid &&
                  (foodForm.controls['locationName'].dirty ||
                    foodForm.controls['locationName'].touched ||
                    showError)
                "
              >
                <div *ngIf="foodForm.controls['locationName'].errors.required">
                  <small id="locationHelp" class="form-text text-muted"
                    >{{ "error.Location required" | translate }}.</small
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputEmail3" class="col col-form-label">{{
              "form.No of Ducks fed" | translate
            }}</label>
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-10">
              <input
                id="totalDucks"
                [formControl]="foodForm.controls['totalDucks']"
                type="number"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    foodForm.controls['totalDucks'].invalid &&
                    (foodForm.controls['totalDucks'].dirty ||
                      foodForm.controls['totalDucks'].touched ||
                      showError)
                }"
              />
              <div
                *ngIf="
                  foodForm.controls['totalDucks'].invalid &&
                  (foodForm.controls['totalDucks'].dirty ||
                    foodForm.controls['totalDucks'].touched ||
                    showError)
                "
              >
                <div *ngIf="foodForm.controls['totalDucks'].errors.required">
                  <small id="numberOfDucksHelp" class="form-text text-muted"
                    >{{ "error.Total ducks fed required" | translate }}.</small
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputEmail3" class="col col-form-label">{{
              "form.Quantity fed" | translate
            }}</label>
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-10">
              <div class="input-group">
                <input
                  id="foodQuantity"
                  [formControl]="foodForm.controls['quantity']"
                  type="number"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      foodForm.controls['quantity'].invalid &&
                      (foodForm.controls['quantity'].dirty ||
                        foodForm.controls['quantity'].touched ||
                        showError)
                  }"
                />
                <div class="input-group-append">
                  <select
                    class="form-control"
                    id="QuantityType"
                    [formControl]="foodForm.controls['uomType']"
                  >
                    <option *ngFor="let u of uom" value="{{ u.uomType }}">
                      {{ u.uomType }}
                    </option>
                  </select>
                </div>
              </div>
              <div
                *ngIf="
                  foodForm.controls['quantity'].invalid &&
                  (foodForm.controls['quantity'].dirty ||
                    foodForm.controls['quantity'].touched ||
                    showError)
                "
              >
                <div *ngIf="foodForm.controls['quantity'].errors.required">
                  <small id="numberOfDucksHelp" class="form-text text-muted"
                    >{{ "error.Food Quantity required" | translate }}.</small
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputEmail3" class="col col-form-label">
              {{ "form.Repeat Schedule" | translate }}
            </label>
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-10">
              <div class="custom-control custom-switch">
                <input
                  class="custom-control-input"
                  type="checkbox"
                  [formControl]="foodForm.controls['repeatSchedule']"
                  id="repeatFood"
                />
                <label class="custom-control-label" for="repeatFood"></label>
              </div>
            </div>
          </div>
          <button
            type="submit"
            (click)="submit()"
            class="btn float-right btn-primary"
          >
            {{ "form.submit" | translate }}
          </button>
          <button
            type="button"
            class="btn btn-outline-primary float-right mr-4"
            (click)="reset()"
          >
            <span>{{ "form.reset" | translate }}</span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body"></div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Save
    </button>
  </div>
</ng-template>
